/* Initial body */
html {
  height:100%;
  min-height: 100%;

}
body {
  height:100%;
  min-height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;

  color: #000;
  font-family: 'SaniTrixieSansRegular', sans-serif;
}

/* Initial menu */
.menu {
  background: #202024 repeat left top; 
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.bgimgphotos{
  opacity: 0;
  position: absolute;
  top:0px;
  height:100%;
  width:100%;
  min-width: 100%;
  min-height: 100%;
  background-image: url('../img/bg_cat.jpg');
  background-position:50% 90%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.bgimgmusic{
  opacity: 0;
  position: absolute;
  top:0px;
  height:100%;
  width:100%;
  min-width: 100%;
  min-height: 100%;
  background-image: url('../img/bg_musicgear.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.jumbotron {
  background: linear-gradient(180deg, #1d5446, #1c7f66);
  background-size: 150% 150%;
  /*
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  -o-animation: AnimationName 16s ease infinite;
  animation: AnimationName 10s ease infinite;
  */
  position: absolute;
  top:0px;
  height: 100%;
    width: 100%;
    //background-image: url('../img/bg_caps.jpg');
  //https://c4.staticflickr.com/8/7603/17019902577_18c372b822_k.jpg');
  // provisions pic: http://i.imgur.com/HypCIt3.jpg
  // debug half blue/red pic:  http://i.imgur.com/4E1MDV3.png
  // cat pic: http://i.imgur.com/fQVUJaq.jpg
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
.main{
  min-width: 100%;
  width: 100%;
}

.header h1 {
   font-color: #000;
   font-size: 30px;
   font-weight: bold;
   text-transform: lowercase;
}

.container {
  margin-bottom: 80px;
  max-width: 100%;
  width: 800px;
  //left: 50px;

  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 200px;
  display: inline-block;
  //margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: #fff;
  font-size: 15px;
  //text-decoration: none;   // to remove underline
}

.title {
  color: #FFF0E0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
   color: #afafaf ;

   text-align: center;
   font-size: 14px;
}

.submenuholder {
  position: relative;
  height: 40px;
}

.submenu {
  pointer-events: none;
  position: absolute;
  top: -50px;
  opacity: 0;
  color: #000000;
  text-align: left;
  left:40px;
  width: 100%;
}

.price {
   //color: #000;
   font-size: 14px;
   font-weight: 700;
   bottom: 75px;
   right: 20px;
   line-height: 60px;
   width: 60px;
   height: 60px;
   position: absolute;
   background: #fff;
   border-bottom:5px solid #000;
   text-align: center;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'SaniTrixieSansRegular', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

// this seems to do nothing
.icon {
  //horizontal-align: center;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  position:absolute;
  top: 0px;
  width: 80px;
  color: #000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}


.viddiv {
        position: absolute;
        top:0px;
  width:100%;
  height:100%;
}

/*
  .video {
  position: static;
  top: 0px;
  left: 0px;
}

.video video_1 {
  position: static;
  top: 0px;
  left: 0px;
}
*/

